{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <h1>Formulario - Agregar Profesor</h1>

    {% if miFormulario.errors %}
    <p style="color: red;" >Estan mal los datos, revisar</p>
    {% endif %}
    <td>
        <form action="/AppCoder/profesorForm/" method="POST"> {% csrf_token %}
                
            <table>

                {{ miFormulario.as_table }}

            
            </table>
            <input type="submit" value="Enviar">
        </form>
    </td>
{% endblock %}